.App {
  margin: auto;
  width: 400px;
  padding: 24px 40px;

  text-align: center;
  margin-top: 100px;

  color: #161a15;
  background-color: white;

  border-radius: 16px;
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  font-size: 200%;
  padding-bottom: 24px;
}

.error {
  font-size: 90%;
  padding-bottom: 16px;
  color: red;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

a {
  color: green;
  text-decoration: none;
  font-size: 80%;
}

a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;

  border: 2px solid green;
  border-radius: 8px;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 80%;
  color: white;
  background-color: green;
}

button:hover {
  color: green;
  background-color: white;
}
